body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

#navbar{
    display: flex;
}

#logoContainer{
    display: flex;
    margin-top: 8px;
    margin-left: 20px;
}

#searchBar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
}

#searchBar input{
    width: 500px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
}

#searchBar button{
    height: 45px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    background-color: #f8f8f8;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

#logo img{
    width: 80px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 2px;
    cursor: pointer;
}

#logoName{
    font-size: 30px;
    font-weight: bold;
    margin-top: 4px;
    color: white;
}

#mainContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
}

.video-box img {
    width: 100%;
    border-bottom: 2px solid #303030;
    border-radius: 10px;
}

#title {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    color: white;
    margin-top: 10px;

}

#channel {
    color: #aaaaaa;
    font-size: 20px;
    margin-left: 60px;

}

.video-box a {
    text-decoration: none;
    color: white;           
}

.video-box{
    margin: 20px;
}

#title img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

#searchButton i {
    font-size: 20px;
}

#searchInput::placeholder {
    font-size: 15px;
    color: #aaa;
    

}
